<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foody</title>

    <link rel="stylesheet" href="/site/styles.css">
    
</head>
<body>
    <header>
        <a href="/"><img src="/site/logo.png" alt=""></a>        
        <nav class="menu">
            <ul>
                <li>
                    <a href="/about">Sobre</a>
                </li>
                <li>
                    <a href="/recipes">Receitas</a>
                </li>                                
                <li>
                    <a href="/chefs">Chefs</a>
                </li>                                
                <li>
                    <a href="/admin/recipes">Admin</a>
                </li>                                
            </ul>
        </nav>

        <form action="/" method="GET">
            <input type="text" name="search" placeholder="Buscar uma receita">
            <button type="submit">Buscar</button>
        </form>
    </header>

    {% block content %}
    
    {% endblock %}

    <footer>
        <p>© Todos direitos reservados, receitas Foodfy.</p>
    </footer>
    
    <script src="/site/scripts.js"></script>
</body>

</html>